* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/src/images/bg-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.todo-app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-app {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  height: 70%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  margin-left: auto;
  color: red;
}

.header button {
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 5px;
  margin-left: auto;
}

.header button {
  align-self: flex-end;
}
.todos {
  overflow: auto;
  flex: 5;
  gap: 25px;
  margin: 10px 0;
}
.no-todo {
  margin: 10px 0;
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  margin: 10px 0;
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  text-align: center;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

label {
  font-size: 18px;
  width: 100%;
}
.day-selector {
  width: 50%;
}

.add-todo {
  height: 50%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.striped {
  background-color: #d3d3d3;
}
.todo-number {
  flex: 0.5;
}

.todo-content {
  flex: 3;
  display: flex;
  justify-content: center;
  /*  to handle the overflow text */
  word-break: break-word;
  text-align: start;
}

.todo-day {
  flex: 1;
}

.todo-done {
  flex: 1;
}

.todos-header {
  font-weight: 700;
  text-align: center;
  display: flex;
  gap: 20px;
  flex: 0.5;
  background-color: #37304a;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.add-task-button {
  border: 0;
  padding: 0;
}

.todos-header .todo-day {
  border-right: 0.5px solid white;
  border-left: 0.5px solid white;
}

.todos-header .todo-number {
  border-right: 0.5px solid white;
}

.todos-header .todo-done {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .todo-app {
    width: 100%;
    font-size: 14px;
    line-height: normal;
    margin: 0 5px;
  }
  .done-icon {
    height: 25px;
    width: 30px;
  }
  select {
    max-width: 100% !important;
  }

  .todo-done {
    margin-right: 5px;
  }
  .todo-content {
    word-break: break-all;
  }
}
